<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="workers, tracking, projects, employees">
        <meta name="description" content="A service for employees to keep track of the hours they worked on a project">
        <meta name="author" content="Julián Montenegro">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/who-we-are.css">
        <link rel="stylesheet" href="../css/why-choose-us.css">
        <link rel="stylesheet" href="../css/functionalities.css">
        <link rel="stylesheet" href="../css/contact.css">
        <link rel="stylesheet" href="../css/product-enterprise-support.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/signup.css">
        <script src="../javascript/signup.js"></script>
        <script src="https://kit.fontawesome.com/d7c9d962f7.js" crossorigin="anonymous"></script>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </head>
    <body>
        <aside>
            <div id="sidebar-logo">
                <a href="#">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </div>
            <div id="lower-container">
                <div>
                    <div class="sidebar-link">
                        <a href="../views/index.html">
                            <i class="fa-solid fa-house" class="sidebar-orange"></i>
                            <p class="sidebar-orange">Home</p>
                        </a>
                    </div>
                    <div class="sidebar-link">
                        <a href="../views/signup.html" title="Sign Up">
                            <i class="fa-solid fa-user"></i>
                            <p class="sidebar-orange">Sign Up</p>
                        </a>
                    </div>
                    <div class="sidebar-link">
                        <a href="../views/login.html" title="Login">
                            <i class="fa-solid fa-user"></i>
                            <p class="sidebar-orange">Login</p>
                        </a>
                    </div>
                </div>
            </div>
        </aside>
        <div id="main-footer-container">
            <i class="fa-sharp fa-solid fa-bars"></i>
            <main>
                <div id="upperbar">
                    <h1>Sign Up</h1>
                </div>
                <form>
                    <div id="inputs">
                        <div class="cont-field" id="name">
                            <label>Name</label>
                            <input name="name" type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="last-name">
                            <label>Last Name</label>
                            <input name="last-name" type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="dni">
                            <label>DNI</label>
                            <input name="dni" type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="birthday">
                            <label>Birthday</label>
                            <input name="birthday" type="date" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="phone-number">
                            <label>Phone Number</label>
                            <input name="phone-number" type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="adress">
                            <label>Adress</label>
                            <input name="adress" type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="location">
                            <label>Location</label>
                            <input name="location" type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="postcode">
                            <label>Postcode</label>
                            <input name="postcode" type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="email">
                            <label>Email</label>
                            <input name="email" type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field" id="password">
                            <label>Password</label>
                            <input name="password" type="password" placeholder="Your Password Here">
                        </div>
                        <div class="cont-field" id="repeat-password">
                            <label> Repeat Password</label>
                            <input name="repeat-password" type="password" placeholder="Your Password Here">
                        </div>
                        <div id="buttons">
                            <button></i>Sign Up</button>
                            <button><a href="../views/index.html"></i></i>Go Back</a></button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>