<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="workers, tracking, projects, employees">
        <meta name="description" content="A service for employees to keep track of the hours they worked on a project">
        <meta name="author" content="Julián Montenegro">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/who-we-are.css">
        <link rel="stylesheet" href="../css/why-choose-us.css">
        <link rel="stylesheet" href="../css/functionalities.css">
        <link rel="stylesheet" href="../css/contact.css">
        <link rel="stylesheet" href="../css/product-enterprise-support.css">
        <link rel="stylesheet" href="../css/footer.css">
        <script src="https://kit.fontawesome.com/d7c9d962f7.js" crossorigin="anonymous"></script>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </head>
    <body>
        <aside>
            <div id="sidebar-logo">
                <a href="#">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </div>
            <div id="lower-container">
                <div>
                    <div class="sidebar-link">
                        <a href="../views/index.html">
                            <i class="fa-solid fa-house" class="sidebar-orange"></i>
                            <p class="sidebar-orange">Home</p>
                        </a>
                    </div>
                    <div class="sidebar-link">
                        <a href="../views/signup.html" title="Sign Up">
                            <i class="fa-solid fa-user"></i>
                            <p class="sidebar-orange">Sign Up</p>
                        </a>
                    </div>
                    <div class="sidebar-link">
                        <a href="../views/login.html" title="Login">
                            <i class="fa-solid fa-user"></i>
                            <p class="sidebar-orange">Login</p>
                        </a>
                    </div>
                </div>
                <div id="sidebar-contact">
                    <p>Contact Us</p>
                    <div>
                        <div class="contact-element">
                            <i class="fa-solid fa-envelope"></i>
                            <p class="contact-orange">trackgenix@gmail.com</p>
                        </div>
                        <div class="contact-element">
                            <i class="fa-solid fa-phone"></i>
                            <p class="contact-orange">(000)-000-0000</p>
                        </div>
                        <div id="address" class="contact-element">
                            <i class="fa-solid fa-city"></i>
                            <p class="contact-orange">1234 Somewhere Road #8254 Nashville, TN 00000-0000</p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <div id="main-footer-container">
            <i class="fa-sharp fa-solid fa-bars"></i>
            <!-- <header>
                <div id="header-container">
                    <div>
                        <h1>Trackgenix</h1>
                        <div id="title-bar"></div>
                        <h2>By GigaTech Software Solutions SA</h2>
                        <div id="header-frame-paragraphs">
                            <p>
                                The company GigaTech Software Solutions SA provides software development services to other
                                companies, which have too many employees. Because of this Trackgenix was created.
                            </p>
                            <p>
                                Trackgenix is a web page that facilitates the registration of hours worked by each employee
                                in each project and provides information to the companies so they can make better decisions.
                            </p>
                        </div>
                    </div>
                </div>
            </header> -->
            <main>
                <div id="upperbar">

                </div>
                <form>
                    <div id="inputs">
                        <div class="cont-field" id="input-name">
                            <label>Name</label>
                            <input type="text" placeholder="Your Name Here">
                        </div>
                        <div class="cont-field">
                            <label>Password</label>
                            <input type="text" placeholder="Your Email Here">
                        </div>
                        <div class="cont-field">
                            <label>Confirm Password</label>
                            <input type="text" placeholder="Your Email Here">
                        </div>
                        <div>
                            <button id="back-button"><i class="fa-solid fa-envelope"></i>Send Message</button>
                            <button id="-button"><i class="fa-solid fa-xmark"></i></i>Reset</button>
                        </div>
                    </div>
                </form>
            </main>
        </div>
    </body>
</html>