header {
    display: flex;
    justify-content: center;
    height: fit-content;
    background-image: url(../assets/header-backg.png);
}

h1 {
    margin-left: 22px;
    margin-top: 30%;
    font-size: 40px;
}

h2 {
    margin-left: 22px;
    margin-top: 17px;
    font-size: 20px;
}

h1, h2, #header-frame-paragraphs {
    width: 80%;
}

#header-frame-paragraphs {
    width: 80%;
    margin-left: 22px;
    margin-top: 10%;
    color: #fff;
    margin-bottom: 50%;
}

#header-frame-paragraphs > p {
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: lighter;
}

#header-frame {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(2px);
}

#title-bar {
    height: 2px;
    background-color: #AACE9B;
}

@media only screen and (min-width: 480px){
    header {
        height: 100vh;
    }
}