/* main styles archive, for body, header, common text styles and other common stylings*/

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

p, h1, h2, h3, h4, a, li{
    color: #fff;
    font-family: 'Roboto';
}

h3 {
    align-self: center;
    font-size: 30px;
    color: #000;
}

#page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar-mobile {
    display: none;
}

.hwa-title, .wcu-title, .func-title, .func-subtitle, .cont-title, .sideb-contact > p, .sidebar-orange, .contact-orange,
label, input[type=text] {
    font-weight:bolder;
    font-family: "Roboto";
}

@media only screen and (min-width:768px) {
    h3 {
        font-size: 40px;
    }
}