#footer {
    display: inline;
    float: right;
    width: 1288px;
    height: 176px;
    background-color: #AACE9B;
    background-size: cover;
}

.social-media-links{
    margin-left: 409px;
    margin-top: 35px;
}

.social-media-link{
    display: inline;
    margin-right: 50px;
}