#prod-ent-sup {
    display: inline;
    float: right;
    width: 1288px;
    height: 247px;
    background-image: url(../assets/prod-ent-supp.png);
    background-size: cover;
}

.pes-elements{
    margin-left: 322px;
    margin-top: 63px;
}

.pes-element {
    display: inline-block;
    height: 20%;
    margin-right: 121px;
}

.pes-title {
    float: left;
    margin-bottom: 12px;
    margin-left: -12px;
    font-size: 20px;
    font-weight: bold;
    color: #373867;
}

li {
    margin-bottom: 5px;
}

.pes-link, li {
    text-decoration: none;
    color: #373867;
    font-size: 12px;
}