aside {
    position: fixed;
    width: 152px;
    height: 900px;
    background-color: #fff;
}

.sidebar-element {
    display: inline-block;
}

.frame {
    display: inline-block;
    width: 481px;
    height: 100%;
    margin-left: 76px;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(2px);
}

.title-bar {
    width: 452px;
    height: 2px;
    margin-left: 22px;
    background-color: #AACE9B;
}

.pars {
    width: 366px;
    height: 281px;
    margin-left: 22px;
    margin-top: 98px;
    color: #fff;
}

.pars > p {
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: lighter;
}

.sideb-logo {
    width: 152px;
    height: 160px;
    background-image: url(../assets/sidebar/logo.png);
}

.sideb-btn {
    position: absolute;
    margin-left: 122px;
    margin-top: 123px;
    text-decoration: none;
    font-size: 25px;
}

.sideb-btn > i {
    display: inline;
    width: 14px;
    height: 23px;
    color: #373867;
}

.sidebar-orange, i {
    color: #f33413;
}

.sideb-link {
    display: block;
    margin-top: 55px;
    margin-left: 20px;
}

.sideb-link > a {
    margin-top: 12px;
    text-decoration: none;
}

.sideb-link > a > i{
    display: inline;
}

.sideb-link > a > p{
    display: inline;
    margin-left: 10px;
}

.sideb-contact {
    display: block;
    margin-top: 200px;
}

.sideb-contact > p{
    margin-left: 11px;
    font-size: 14px;
    text-decoration-line: underline;
    color: #f33413;
}

.contact-orange {
    display: inline;
    color: #f33413;
    font-size: 10px;
    text-align: center;
    vertical-align: 5px;
}

.contact-element {
    width: 152px;
    margin-top: 20px;
}

.contact-element > i {
    display: inline;
    margin-left: 10px;
}

#adress > i {
    vertical-align: 18px;
}

#adress > p {
    display: inline-block;
    width: 50%;
}

#who-we-are {
    display: inline;
    float: right;
    width: 1288px;
    height: 900px;
}